@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.nav-link {
  transition: 0.2s ease;
}

.nav-link:hover {
  font-weight: bold !important;
}

.welcome-div {
  width: 100vw;
  height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("Assets/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.font-anton {
  font-family: "Anton", sans-serif;
}

@media (max-width: 950px) {
  .welcome-div {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url(/Assets/bg-portrait.jpg);
  }
}
